@{
    ViewData["Title"] = "Error";
}
<style>
    body{
          background: #3B4757;
    }
    footer,hr{
        display: none;
    }
</style>

<div class="container space">
<h1 class="text-center">- Houston, We've Got a Problem.</h1>
<div class="row"><h3 class="text-center">- Let's see...</h3></div>
<row class="moon">
  <ul>
    <li />
    <li />
    <li />
    <li />
    <li />
    <li />
    <li />
  </ul>
</div>
</div>
</div>

